/*CSS*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}


html{
    font-size: 10;
    font-family: 'SF Pro Display', sans-serif;
}

a{
    display: block;
    text-decoration: none;
}

.container{
    max-width: 98rem;
    margin: 0 auto;
    padding: 2.2rem;
}

header{
    position: fixed;
    top: 0;
    z-index: 1400;
    width: 100%;
    height: 6rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2rem);

}

.nav-list{
    list-style: none;
    display:    flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem; 

}

.nav-list-mobile{
    display: none;
}

.nav-link{
    font-size: 1.2rem;
    color: #fff;
    padding: 0 1rem;
    transition: opacity .2s;
}

.nav-link:hover{
    opacity: .7;
}

.nav-link-mylogo{
    width: 4rem;
    height: 4rem;
    background: url("images/RG.png") center no-repeat;
    background-size: auto;
} 
